@model List<Time_tracking_system.Domain.ViewModels.AttributesVM>

@{
    ViewData["Title"] = "Атрибуты заявок";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Атрибуты заявок</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model[0].NameAttributes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].TypeData)
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    @(i+1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].NameAttributes)
                </td>
                <td>
                    @if (Model[i].TypeData == "TypeVocation")
                    {
                        <span>Тип отпуска из списка</span>
                    }
                    else if (Model[i].TypeData == "Employee")
                    {
                        <span>Пользователь из списка</span>
                    }
                    else if (Model[i].TypeData == "Bool")
                    {
                        <span>Да/нет</span>
                    }
                    else if (Model[i].TypeData == "DateTime")
                    {
                        <span>Дата</span>
                    }
                    else if (Model[i].TypeData == "Text")
                    {
                        <span>Текст</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>