@page
@model RegisterModel
@{ ViewData["Title"] = "Регистрация"; }

<div class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            Регистрация
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <form method="post">
                    <div class="input-group mb-3">
                        <input asp-for="Input.FirstName" class="form-control" placeholder="Фамилия">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.LastName" class="form-control" placeholder="Имя">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Patronymic" class="form-control" placeholder="Отчество">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Patronymic" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" class="form-control" placeholder="Пароль">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Повторите пароль">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Post" class="form-control" placeholder="Должность">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Post" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <select asp-for="Input.Role" class="form-control" placeholder="Роль">
                            <option value="Сотрудник">Сотрудник</option>
                            <option value="Руководитель">Руководитель</option>
                            <option value="Директор">Директор</option>
                            <option value="Администратор">Администратор</option>
                        </select>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                    <div class="row">
                        <button type="submit" class="btn btn-primary btn-block">Регистрация</button>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
